@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.box {
    border-color: rgb(245, 167, 136);
    border-radius: 3px;
    border-style: solid;
    margin-bottom: 7px;
    margin-left: 10px;
    width: 350px;
    height: 200px;
    max-width: 400px;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.4);

}

body {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1250px;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 10px;
}

/* textarea, */
/* select {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    display: block;
    width: 400px;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #484848;
    color: #282121;
    border-radius: 0;
    outline: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    padding: 20px;
} */

select {
    width: 150px;
    height: 41px;
    font-size: 18px;
    padding: 0px;
    text-align: center;
}

h3 {
    margin: 0px;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #484848, 10px;
}

h4 {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #484848, 10px;
    margin-bottom: 3px;
}

img {
    margin-right: 5px;
    width: 300px;
    height: 300px;
}

img:hover {
    border-radius: 15px;
    border-color: #504741;
    border-style: groove;
    box-shadow: 0 1px 13px rgba(11, 10, 10, 0.5);
}

button {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputFill {
    padding: 2px;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    max-width: 200px;
    margin-right: 2px;
}



.btnPost,
.btnTodo {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(231, 150, 118);
    border-radius: 6px;
    border-style: solid;
    margin: 5px;
}

/* .btnTodo {
    margin: 3px;
} */

#flexBtnTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#boxShow,
#photosShow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 2px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

#boxAdd {
    padding: 0px;
    margin-top: 10px;
    margin-right: 0%;
    margin-bottom: 10px;
}
#getPhotos{
    margin-bottom: 60px;
}
.thumbnail-container {
    position: relative;
    display: inline-block;
}

.thumbnail-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 299px;
}

.thumbnail-container:hover .thumbnail-title {
    opacity: 1;
}
/* #allPhotos{
    
} */