@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.show {
  display: block !important;
}

.active {
  display: block;
}

.notActive {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  background-image: url("../img/art\ color.jpg");
  max-width: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background: #e9d3ef; */
  height: 100%;
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form {
  background: rgba(136, 102, 86, 0.3);
  padding: 40px;
  margin: 0px;
  margin-left: 170px;
  min-width: 700px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.6);
}

.register-buttons {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.register-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.register-buttons li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(125, 93, 82, 0.3);
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.register-buttons li a:hover {
  background: rgb(245, 167, 136);
  ;
  color: #ffffff;
}

.register-buttons a {
  background: rgb(245, 167, 136);
  color: #ffffff;
}

/* .content>div:last-child {
    display: none;
  } */

h1 {
  font-family: 'Quicksand';
  text-align: center;
  color: #000000;
  font-weight: 600;
  margin: 0 0 40px;
}


.input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #ffffff;
  color: #636363;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  outline: 0;
  border-color: #c78658;
}

textarea {
  border: 2px solid #ffffff;
  resize: vertical;
  width: 300px;
  height: 150px;
}

.User-fill {
  position: relative;
  margin-bottom: 40px;
}

.password .User-fill {
  margin-right: 5px;
}

#pwd1 {
  margin-right: 21px;
}

#pwd2 {
  margin-left: 20px;
  padding-right: 10px;
}

.password>div {
  display: inline-block;

}

#name,
#lastName {
  width: 48%;
  margin-right: 4%;
}


.button {
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: rgb(245, 167, 136);
  color: #ffffff;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background: rgb(186, 73, 61);
}

.button-block {
  display: block;
  width: 100%;
}

h2 {
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #000000;
  font-size: 300%;
  font-weight: 300;
  margin: 0 0;
}

.password {
  display: flex;
  margin-right: 0px;
  max-width: 500px;
}

#pwd2,
#pwd1 {
  padding-right: 0px;
}


#textArea {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

@media only screen and (max-width: 600px) {
  #form {
    margin-left: 140px;
    min-width: 360px;
  }

  .button {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #form {
    margin-left: 20px;
    min-width: 480px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #form {
    margin-left: 30px;
    max-width: 600px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #form {
    margin-left: 80px;
    min-width: 700px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #form {
    margin-left: 175px;
    min-width: 700px;
  }
}